html {
    height: 100%;
    width: 100%;

}

section {
    text-align: left;
    margin: auto;
    width: 80%;
    max-width: 600px;
    border: 5px solid blue
}

h1 {
    font-family: Notable, sans-serif;
    color: darkorange;
}

h2 {
    font-family: Lacquer, fantasy;
    color: darkred;
}

p {
    font-family: Aptos, Arial, Helvetica, sans-serif;
}